/*header {
    background-color: gray;
}
*/

/*body {
    background-color: gray;
}

#theForm {
    background-color: beige;
}

ul.post-prop {
    font-size: small;
    color: red;
    list-style: none;
}

.post-info {
    border: 1px solid green;
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

#loginToggle {
    cursor: pointer;
}

.popup-form {
    cursor: pointer;
    border: 2px solid black;
    display: inline-block;
}

*/