<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-controller="App" asp-action="Index"><i class="fa fa-car"></i> Yurgi One </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" asp-controller="App" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" asp-controller="App" asp-action="Contact">Contact</a>
                    <a class="nav-item nav-link" asp-controller="App" asp-action="About">About</a>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <h2 class="text-center"> @ViewBag.Title</h2>
        @* take the body of cshtml and inject it here *@
        @RenderBody()
    </section>
    <footer class="text-center"> Footer </footer>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>