<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet"/>

</head>
<body>
<header class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" asp-controller="App" asp-action="Index"><i class="fa fa-car"></i> Yurgi One </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" id="menuItems">
                <a class="nav-item nav-link active" asp-controller="App" asp-action="Index" >
                    <img src="~/img/home_btn.gif" />
                </a>
          
                <a class="nav-item nav-link" asp-controller="App" asp-action="About">
                    <img src="~/img/about_btn.gif" />
                </a>
                <a class="nav-item nav-link" asp-controller="App" asp-action="Contact">
                    <img src="~/img/contact_btn.gif" />
                </a>
                <br class="clearfloat">
            </div>
        </div>
    </nav>
</header>

<section>
    <h2 class="text-center"> @ViewBag.Title</h2>
    @* take the body of cshtml and inject it here *@
    @RenderBody()
</section>
<footer class="text-center"> Footer </footer>
<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/index.js"></script>
<script src="~/js/my.js"></script>
@RenderSection("scripts", false)
</body>
</html>