<div class="container-fluid"
     id="aboutText">
    <div class="row col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3 py-md-3 pl-md-5 bd-content">
        <p>We write Ideas about <em>how to do things.</em>&nbsp;</p> 
        <p>
            Ideas that are developed and written a really long time ago. But the practical needs are not always obvious and often cannot be defined in certain and unique terms. Our objective here
            is not to repeat all this vast body of information but to develop a systematic approach to make practical and effective use of it.
        </p>
        <p>
            Marketing has caused information overpopulation. There is a myriad of techniques, procedures, literature descriptions and
            guides on the subject of how to do things. Many of the information is given by so-called motivational speakers that have only informal understanding. Sometimes it seems as if if everyone
            keeps shouting <strong>just do it</strong>, but nobody seems to be interested in saying anything about the steps
            needed to "do it". As a result, the pursuits of self-help and personal development mostly ends in
            repeating psychological pain and helplessness.
        </p>
        <p>We will try to provide some of the missing parts. <strong>We are not</strong> the world authority on neither
            philosophy nor cognitive therapy but we know a decent amount about both. It is an unimaginably big subject.</p>
        <p>It is our hope to provide digression from conceptual prisons and compulsive thinking that seems to be so common 
            in modern time.<br />Our goal is to provide insights into our natural responses.</p>
    </div>
</div>